<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="index.html" method="post"><br><br>
    Do you have cough : <input type="radio"> Yes <input type="radio">No<br><br>
    Duration :<input type="radio"> 2-weeks<br>
    <input style="margin-left:70px;"type="radio">more than 2-weeks<br>
    <input style="margin-left:70px;"type="radio">less than 2-weeks<br><br>

    Do you have fever : <input type="radio"> Yes <input type="radio">No<br><br>
    Temperature :<br>
    <input style="margin-left:70px;"type="radio">0 < 100 f<br>
    <input style="margin-left:70px;"type="radio">0 > 100 f<br><br>

    Do you have chestpain : <input type="radio"> SEVERE <input type="radio">OCCASIONAL<br><br>

    Do you have breathing problems : <input type="radio"> Yes <input type="radio">No<br><br>

    Wheezing : <br><br>
    <input style="margin-left:70px;"type="radio">from birth<br>
    <input style="margin-left:70px;"type="radio">recently<br><br>

    Do you have night sweats : <input type="radio"> Yes <input type="radio">No<br><br>

    Sleeplessness : <input type="radio"> Yes <input type="radio">No<br><br>

    Do you have weight-loss : <input type="radio"> Yes <input type="radio">No<br><br>

    Do you have throat irritation : <input type="radio"> SEVERE <input type="radio"> MILD <br><br><input type="radio"> NO <br><br>

    Do you feel nozzile inflammation or narrowed : <input type="radio"> Yes <input type="radio">No<br><br>

    Do you have skin rashes : <input type="radio"> Yes <input type="radio">No<br><br>

    Do you have any of these habits : <br><br>
    <input type="checkbox"> SMOKE <input type="checkbox"> ALCOHOL <input type="checkbox"> Other Drugs<br><br>

    if any other kind of infections you have means share in the text box :<br><br>
    <textarea rows="4" cols="50"></textarea>
    </form>
    </body>
</html>
