/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top:0; /* Location of the box */
  left: 80px;
  top: 120px;
  width: 50%; /* Full width */
  height: 500px; /* Full height */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
  color:white;
}

/* Modal Content */
.modal-content {
  border-radius: 5px;
  position: absolute;
  left:0;
  background-color:rgba(0, 0, 0,0.3);
  text-indent: 10px;
  border: 1px solid #888;
  width: 720px;
  height:100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.9s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {left:-300px; opacity:0}
  to {left:0px; opacity:1}
}
